.subscribe{
    width: 100vw;
    height: 700px;
    margin-top: 50px;
    margin-left: -30px;
    background: url(../../assets/flat-lay-colorful-paper-pyramids-with-copy-space.jpg);
    background-size: 100%;
}