.header{
    width: 100%;
    background-color: #f6f7f9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header_date{
    font-weight: 600;
}
.header div{
    display: flex;
    align-items: center;
}
.header div img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
